<ion-view title="Favoritos">
  <ion-content class="has-header">
    <div class="list list-inset">
        <a class="item item-icon-right" type="item-text-wrap" href="#">Dr. Teste 1  <i class="icon ion-ios-star"></i></a>
        <a class="item item-icon-right" type="item-text-wrap" href="#">Dr. Teste 2  <i class="icon ion-ios-star"></i></a>
        <a class="item item-icon-right" type="item-text-wrap" href="#">Dr. Teste 3  <i class="icon ion-ios-star"></i></a>
		<a class="item item-icon-right" type="item-text-wrap" href="#">Dr. Teste 4  <i class="icon ion-ios-star"></i></a>
    </div>
  </ion-content>
</ion-view>
