<ion-view title="Pesquisa">
  <ion-content class="has-header">
    <div class="list list-inset item-next">
        <div class="item item-divider">
            Pesquisar Médicos
        </div>
        <a class="item item-content" href="#/tab/pesquisa/medico-esp">Pela especialidade</a>
        <a class="item item-content" href="#/tab/pesquisa/medico-esp/">Pelo nome</a>
    </div>

    <div class="list list-inset item-next">
        <div class="item item-divider">
            Pesquisar Prestadores de Serviço
        </div>
        <a class="item item-content" href="#/tab/pesquisa/prestador-esp">Pela especialidade</a>
        <a class="item item-content" href="#/tab/pesquisa/prestador-esp/">Pelo nome</a>
    </div>

    <div class="list list-inset item-next">
        <div class="item item-divider">
            Pesquisar Farmácias
        </div>
        <a class="item item-content" href="#/tab/pesquisa/farmacia">Perto de mim</a>
    </div>
  </ion-content>
</ion-view>
