<div class="card">
    <div class="item item-divider">
        <p style="text-align: center;">
            O QUE NÃO FAZER
        </p>
    </div>
    <div class="item item-text-wrap">
        <p style="text-align: center;">
            <img src="img/queimaduras-1.gif">
        </p>
        
        <p>
            Não é indicado passar pasta de dentes ou pó de café.
        </p>
    </div>
</div>


<div class="card">
    <div class="item item-divider">
        <p style="text-align: center;">
            O QUE FAZER
        </p>
    </div>
    <div class="item item-text-wrap">
        <p style="text-align: center;">
            <img src="img/queimaduras-2.gif">
        </p>
        
        <p>
            Se for uma queimadura leve, coloque a parte do corpo queimada debaixo de água corrente por 15 minutos.
        </p>
    </div>
</div>
