<div class="container menu">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3 class="text-center" style="color:#c9242c">CLIENTES</h3>
    </div>
  </div>
  <div class="row">
    <div class="row" style="margin-top:15px;">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <table class="table table-bordered" style="margin: 0 10px 0 0;">
          <thead>
            <tr class="headerTable">
              <th><a href="">NOME</a></th>
              <th><a href="">E-MAIL</a></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="cliente in clientes track by $index" ng-mouseover="openPopover($index)">
              <td>{{cliente.nome}}</td>
              <td>{{cliente.email}}</td>
              <td>
                <button class="btn btn-spark" title="Alterar clientes" ng-disabled="btnDisabled" ng-click="excluirCliente($index)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <br>
      <h4>Adicionar cliente</h4>
      <hr>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <ui-select multiple ng-model="$parent.cliente" required>
                <ui-select-match placeholder="Selecione os clientes..." > {{$item.nome}} </ui-select-match>
                <ui-select-choices repeat="lC in listaClientes | filter: $select.search">
                <div ng-bind-html="lC.nome | highlight: $select.search"></div>
                </ui-select-choices>
             </ui-select>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <button class="btn btn-spark pull-right" title="Adicionar" ng-disabled="btnDisabled" ng-click="adicionarCliente()" >
          Adicionar
        </button>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3 class="text-center" style="color:#c9242c">INTEGRANTES</h3>
    </div>
  </div>
  <div class="row">
    <div class="row" style="margin-top:15px;">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <table class="table table-bordered" style="margin: 0 10px 0 0;">
          <thead>
            <tr class="headerTable">
              <th><a href="">NOME</a></th>
              <th><a href="">E-MAIL</a></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="integrante in time track by $index" ng-mouseover="openPopover($index)">
              <td>{{integrante.nome}}</td>
              <td>{{integrante.email}}</td>
              <td>
                <button class="btn btn-spark" title="Excluir integrante" ng-disabled="btnDisabled" ng-click="excluirIntegrante($index)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <br>
      <h4>Adicionar integrante</h4>
      <hr>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <ui-select multiple ng-model="$parent.integrante" required>
                <ui-select-match placeholder="Selecione os integrantes..." > {{$item.nome}} </ui-select-match>
                <ui-select-choices repeat="i in integrantes  | filter: $select.search">
                <div ng-bind-html="i.nome | highlight: $select.search"></div>
                </ui-select-choices>
             </ui-select>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <button class="btn btn-spark pull-right" title="Adicionar" ng-disabled="btnDisabled" ng-click="adicionarIntegrante()" >
          Adicionar
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <br clear="all">
    <hr>
    <button class="btn btn-spark" title="Voltar" ng-disabled="btnDisabled" ui-sref="web.projeto.listar" >
      Voltar
    </button>
    <button class="btn btn-spark pull-right" title="Salvar" ng-disabled="btnDisabled" ng-click="salvarClientes()" >
      Salvar
    </button>
  </div>
</div>