<div class="container menu">

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3 class="text-center" style="color:#c9242c">PROJETO</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button class="btn btn-spark pull-left" ng-disabled="btnDisabled" ng-click="enviarEmails()">
        Enviar e-mails
      </button>
      <button class="btn btn-spark pull-right" ng-disabled="btnDisabled" ng-click="atualizarRepositorios()">
        Atualizar projetos
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <input type="text" class="form-control" placeholder="Pesquisar" ng-model="search"/>
    </div>
    <div class="col-md-offset-5 col-sm-4 col-md-4 col-lg-4 col-md-offset-5 col-sm-offset-5">
      <select ng-model="selectFilter" ng-options="ordena.nome for ordena in filtro" ng-init="selectFilter=filtro[0]" class="form-control"></select>
    </div>
  </div>

    <div class="row">
      <div style="margin-top:15px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <table class="table table-bordered" style="margin: 0 10px 0 0;">
             <thead>
              <tr class="headerTable">
                <th><a href="">NOTIFICAR</a></th>
                <th ng-click="sort('nome')"><a href="">NOME</a>
                  <span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>                
                <th></th>
            </tr>
            </thead>
            <tbody>
              <tr dir-paginate="repo in repositorios|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" ng-mouseover="openPopover($index)">
                <td align="center" style="width: 50px;"><input type="checkbox" ng-model="repo.notificar" ng-change="setNotificacao(repo)"></td>
                <td>{{repo.nome}}</td>
                <td align="center" style="width: 150px;">
                  <button class="btn btn-spark" alt="Gerenciar" title="Gerenciar" ng-disabled="btnDisabled" ui-sref="web.projeto.gerenciar.dados({'id': repo.id})">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
       <dir-pagination-controls
          max-size="1"
          direction-links="true"
          boundary-links="true" >
      </dir-pagination-controls>
    </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button class="btn btn-spark pull-left" ng-disabled="btnDisabled" ui-sref="web.home">
        Voltar
      </button>
    </div>
  </div>
</div>
