/target/
src/main/resources/files/avatar_2630326020386867581bit.jpg
src/main/resources/files/avatar_2998477278368718762tisto_party-wallpaper-1440x900.jpg
src/main/resources/files/avatar_3499764608734434478elemens.jpg
src/main/resources/files/avatar_5279645265961527156r2d2pipoca.jpg
src/main/resources/files/avatar_6444193977145136159four_tattoo.jpg
src/main/resources/files/avatar_8152572085132843258bertioga2.jpg
src/main/resources/files/*
.DS_Store
target/
target/*
database/
*.classpath
*.project
*.pmd
*.ruleset
*.checkstyle
*.settings/
*.db
*.log
bin/
bin-debug/