<div class="container menu">

  <div class="row">

    <div class="col-lg-4 col-lg-offset-4">
      <button class="btn btn-gray btn-block" ui-sref="web.projeto.listar">PROJETOS</button>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
      <button class="btn btn-gray btn-block" ui-sref="web.cliente.listar">CLIENTES</button>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
      <button class="btn btn-gray btn-block" ui-sref="web.integrante.listar">INTEGRANTES</button>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
      <button class="btn btn-gray btn-block" ui-sref="web.premio.listar">PREMIOS</button>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
      <button class="btn btn-gray btn-block" ui-sref="web.trocaPremio.listar">TROCA DE PREMIOS</button>
    </div>
  </div>
</div>
