<div class="col-sm-12 col-md-12 col-lg-12" >
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button style="height:155px;" class="btn btn-gray btn-block" ui-sref="web.geral">
        <span class="glyphicon glyphicon-home"></span><br>
        GERAL
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button style="height:155px;" class="btn btn-gray btn-block" ui-sref="web.curso">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span><br>
        CURSO
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button style="height:155px;" class="btn btn-gray btn-block" ui-sref="web.trends">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span><br>
        TRENDS
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button style="height:155px;" class="btn btn-gray btn-block" ui-sref="web.config">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span><br>
        CONFIGURAÇÕES
      </button>
    </div>
  </div>
</div>

