<div class="container menu">

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3 class="text-center" style="color:#c9242c">{{tipoForm}}</h3>
    </div>
  </div>

  <form name="integranteForm" > 
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <label for="">Nome</label>
        <input class="form-control" ng-model="integrante.nome" ng-disabled="btnDisabled" type="text" required>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <label for="">E-mail</label>
        <input class="form-control" ng-model="integrante.email" ng-disabled="btnDisabled" type="email" required>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-10 ">
        <label for="">Avatar</label>
      </div>
      <div style="margin-top:-1px;margin-bottom: 10px;"  class="col-sm-12 col-md-12 col-lg-12 "  ng-show="filename != ''">
        <input class="form-control" type="text" disabled="disabled" ng-model="filename">
      </div>
      <div style="margin-top:-1px;" class="col-sm-10 col-md-10 col-lg-10 ">
        <input class="form-control" ng-model="filename" type="file" id="input-file"/>
      </div>
      <div style="margin-top:-1px;" class="col-sm-2 col-md-2 col-lg-2">
        <button class="btn btn-default pull-right" ng-disabled="disableUploadButton || btnDisabled" onclick="angular.element('#input-file').scope().upload(angular.element('#input-file'))">Anexar arquivo</button>
        <div ng-show="progressActive">
          <div progressbar value="progress" type="success"><b>{{progress}}%</b></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-spark pull-left" ng-disabled="btnDisabled" ui-sref="web.integrante.listar">
          Voltar
        </button>
        <button class="btn btn-spark pull-right" ng-disabled="btnDisabled || integranteForm.$invalid" ng-click="save()">
          Salvar
        </button>
      </div>
    </div>

  </form>

</div>
