  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3 class="text-center" style="color:#c9242c">INTEGRANTES</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button class="btn btn-spark pull-right" ng-disabled="btnDisabled" ng-click="novoIntegrante()">Novo integrante</button>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <input type="text" class="form-control" placeholder="Pesquisar" ng-model="filtrarPorNome"/>
    </div>
  </div>
    <div class="row">
      <div ng-controller="pagination">
        <div style="margin-top:15px;">
          <div class="col-sm-12 col-md-12 col-lg-12">
              <table class="table table-bordered" style="margin: 0 10px 0 0;">
                <thead>
                  <tr class="headerTable">
                    <th class="th-center"><a href="">NOME</a></th>
                    <th class="th-center"><a href="">E-MAIL</a></th>
                    <th class="th-center"><a href="">TOKENS</a></th>
                    <th class="th-center"><a href="">TOKENS RESTANTES</a></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="int in integrantes.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | limitTo:itens:(pagAtual * itens) | filter:filtrarPorNome track by $index" ng-mouseover="openPopover($index)" ng-controller"recuperarTokens(int)">
                      <td align="center">{{int.nome}}</td>
                      <td align="center">{{int.email}}</td>
                      <td align="center">{{int.sparks}}</td>
                      <td align="center">{{int.sparksRestantes}}</td>
                    <td align="center"> 
                      <button class="btn btn-spark" alt="Alterar integrante" title="Alterar integrante" ng-disabled="btnDisabled" ng-click="alterarIntegrante(int)">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                      </button>
                      <button class="btn btn-spark" alt="Excluir integrante" title="Excluir integrante" ng-disabled="btnDisabled" ng-click="excluirIntegrante(int)">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
                <div class="row">
                  <div class="page">
                  <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination " boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>  
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button class="btn btn-spark pull-left" ng-disabled="btnDisabled" ui-sref="web.home">
        Voltar
      </button>
    </div>
  </div>

