<div class="container menu">

		<form name="faseProjetoForm" novalidate>  

				<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
								<h3 class="text-center" style="color:#c9242c ">{{tipoForm}}</h3>
						</div>
				</div>
		<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
						<label >
								<input type="radio" name="response" ng-value="true" ng-model="entregaSprint.entregue"/>
								 Entregue
						</label>
						<label >
								<input type="radio" name="response" ng-value="false" checked="true" ng-model="entregaSprint.entregue"/>
								Nâo entregue
						</label>
				</div>
		</div>
		<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
				<label for=""> Integrantes</label> 
						<ui-select multiple ng-model="entregaSprint.integrantes" name="entregaSprint" >
						<ui-select-match placeholder="Selecione os integrantes..." > {{$item.nome}} </ui-select-match>
						<ui-select-choices repeat="ints in attrs | filter: $select.search">
						<div ng-bind-html="ints.nome | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</div>
		</div> 
		<div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label for="">Data Entrega</label>
          <div class="input-group">
            <input class="form-control" ui-date ui-date-format="dd/mm/yy" ng-model="entregaSprint.dataEntrega" required>
              <span class="input-group-btn">
              <button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>
		<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
						<button class="btn btn-spark pull-left" ng-disabled="btnDisabled" ui-sref="web.projeto.gerenciar.fases.editar({'faseId': $stateParams.faseId })">
								Voltar
						</button>
						<button class="btn btn-spark pull-right" ng-disabled="btnDisabled || faseProjetoForm.$invalid"  ui-sref="web.projeto.gerenciar.fases.editar({'faseId': $stateParams.faseId })" ng-click="save()">
								Salvar
						</button>
				</div>
		</div>

	</form>
</div>

		
