<div class="row">
   <div class="col-sm-12 col-md-12 col-lg-12">
     <h3 class="text-center" style="color:#c9242c ">Entregas Sprints</h3>
   </div>
 </div>

 <div class="row">
   <div class="col-sm-12 col-md-12 col-lg-12">
     <button class="btn btn-spark pull-right" ng-disabled="btnDisabled" ng-click="novaEntregaSprint()">Nova Entrega de sprint</button>
   </div>
 </div>

 <div class="row">

    <div style="margin-top:15px;">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <table class="table table-bordered" style="margin: 0 10px 0 0;">
          <thead>
            <tr class="headerTable">
              <th class="th-center"><a href="">ENTREGUE</a></th>
              <th class="th-center"><a href="">FASE</a></th>
              <th class="th-center"><a href="">INTEGRANTES</a></th>
              <th class="th-center"><a href=""></a></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="es in entregaSprintResolve" ng-mouseover="openPopover($index)">
              <td align="center">{{es.entregue | booleanFilter}}</td>
              <td align="center">{{es.faseNome}}</td>
              <td align="center">{{es.ints}}</td>

              <td align="center">
                <button class="btn btn-spark" alt="Alterar entregaSprint" title="Alterar entregaSprint" ng-disabled="btnDisabled" ng-click="editarEntregaSprint(es)">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button class="btn btn-spark" alt="Excluir entregaSprint" title="Excluir entregaSprint" ng-disabled="btnDisabled" ng-click="excluirEntregaSprint(es)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button class="btn btn-spark pull-left" ng-disabled="btnDisabled" ui-sref="web.home" href="#/home">
        Voltar
      </button>
    </div>
  </div>

