<div class="container menu">

  <form name="trocaForm">  
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="text-center" style="color:#c9242c">{{tipoForm}}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <ui-select ng-model="trocaPremio.integrante" name="trocaIntegrante" required>
          <ui-select-match placeholder="Selecione um integrante..." > {{$select.selected.nome}}, Tokens restantes: {{$select.selected.sparksRestantes}} </ui-select-match>
          <ui-select-choices repeat="integrante in attrs.integrantes | filter: $select.search">
          <div ng-bind-html="integrante.nome | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <ui-select ng-model="trocaPremio.premio" name="trocaPremio" required>
          <ui-select-match placeholder="Selecione um premio..."  > {{$select.selected.nome}},  Valor: ${{$select.selected.valor}} </ui-select-match>
          <ui-select-choices repeat="premio in attrs.premios | filter: $select.search">
           <div ng-bind-html="premio.nome | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-spark pull-left" ng-disabled="btnDisabled" ui-sref="web.trocaPremio.listar">
          Voltar
        </button>
        <button class="btn btn-spark pull-right" ng-disabled="btnDisabled || trocaForm.$invalid" ng-click="save()">
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>
