  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3 class="text-center" style="color:#c9242c">PREMIOS</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button class="btn btn-spark pull-right" ng-disabled="btnDisabled" ng-click="novoPremio()">Novo premio</button>
    </div>
  </div>

  <div class="row">

    <div style="margin-top:15px;">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <table class="table table-bordered" style="margin: 0 10px 0 0;">
          <thead>
            <tr class="headerTable">
              <th class="th-center"><a href="">NOME</a></th>
              <th class="th-center"><a href="">VALOR</a></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pr in premio" ng-mouseover="openPopover($index)">
              <td align="center">{{pr.nome}}</td>
              <td align="center">{{pr.valor}}</td>
              <td align="center">
                <button class="btn btn-spark" alt="Alterar premio" title="Alterar premio" ng-disabled="btnDisabled" ng-click="editarPremio(pr)">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button class="btn btn-spark" alt="Excluir premio" title="Excluir premio" ng-disabled="btnDisabled" ng-click="excluirPremio(pr)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button class="btn btn-spark pull-left" ng-disabled="btnDisabled" ui-sref="web.home" href="#/home">
        Voltar
      </button>
    </div>
  </div>
