// Resoluções
$resolucao-desktop : 1024px;
$resolucao-tablet : 768px;
$resolucao-celular : 320px;

// Cores
$branco : #FFF;
$header : #c9242c;
$hover-cinza-escuro : #888;
$cinza-claro : #e4e4e4;
$cinza : #656565;
$preto : #000;

body{
	padding-top: 70px !important;
}

.th-center {
  text-align:center;
}

.border-feed {
  border-radius: 5px 5px 0 0;
  border: 1px solid #e1e8ed;
}

.main {
  min-height: 500px;
}

/* Custom page footer */
.footer {
  position: relative;
  width:100%;
  bottom: 0;
  right:0;
  padding:20px;
  text-align: right;
  margin-top:30px;
}


.navbar-sescWeb{
	background-color:$header !important;
	border: none !important;
}

.periodo-selected {
	@media screen and (min-width: $resolucao-tablet) {
		border: solid 1px #a7a7a7;
		border-radius: 5px;
		padding:20px;
		width: 370px;
		position: relative;
		font-size: 16px;
		content: "SELECIONADO";
		line-height: 14px;
		color: $header;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 14px;
		text-align: center;
		margin-top: -7px;
		z-index: 2;
		background-color: $hover-cinza-escuro
	}

	@media screen and (max-width: $resolucao-tablet) and (min-width: $resolucao-celular){
		border: solid 1px $cinza-claro;
		border-radius: 5px;
		padding:20px;
		width: 300px;
		position: relative;
		font-size: 15px;
		content: "SELECIONADO";
		line-height: 14px;
		color: $header;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 14px;
		text-align: center;
		margin-top: -7px;
		z-index: 2;
		background-color: $hover-cinza-escuro
	}

}

.sort-periodos{
	margin: 0;
}

#title-header{
	color: $branco;
	font-size: 25px;
}

.margin-meses{
	margin:0 0 0 30px;
	p{
		font-weight: bold;
	}
}

.destaque-negrito{
	font-weight: bold;
	font-size: 18px;
}

.diarias{
	display: inline-block;
	line-height: 27px;
	margin-left: 5px;
}

.btn-gray{
	color: $branco;
	background-color: $header;
}

.tooltip-inner { width:300px; max-width: 300px; }

.btn-margin{
	margin-bottom: 10px;
	margin-right: 5px;
}

.vertical-align-p{
	line-height: 30px;
}

.btn-gray:hover{
	color: $branco;
	background-color: $hover-cinza-escuro;
}

.separator{
	margin: 0 10px 0 10px;
	font-size: 16px;
}

/*@media screen and (min-width: $resolucao-tablet) {
  .no-padding-right {
    padding-right: 0 !important;
  }
}*/

@media screen and (min-width: $resolucao-tablet) {
  .no-margin-left {
    margin-left: -30px !important;
  }
}

.icon-menu-periodo{
//	display: inline-block;
	// margin: 10px 0 0 10px;
//	margin: 0 0 0 15px;
	cursor: pointer;
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 10;
}

.periodo-container{
	background-color: $cinza-claro;
	// padding: 20px;
	padding: 10px;
  position: relative;
}

#container-sorteio{
	background-color: $branco;
	// padding: 20px;
}

@media screen and (min-width: $resolucao-tablet) {
	.round-button {
	    display:block;
	    width:35px;
	    height:35px;
	    line-height:35px;
	    border-radius: 50%;
	    color:$cinza-claro;
	    text-align:center;
	    text-decoration:none;
	    background: $cinza;
	    box-shadow: 0 0 3px gray;
	    font-size:15px;
	    font-weight:bold;
	    margin: 10px 0 0 167px;
	}
}

.round-button-wizard {
	@extend .round-button;
	margin: inherit;
}

.container-roud-button-wizard{
	display: inline-block;
	width: 130px;
	margin:auto;
}

.container-roud-button-wizard-active{
	@extend .container-roud-button-wizard;
	font-weight: bold;
	font-size: 16px;
	a{
		@extend .round-button-wizard;
		width: 50px;
		font-size: 20px;
		height: 40px;
		line-height: 40px;
	}
}

@media screen and (max-width: $resolucao-tablet) and (min-width: $resolucao-celular){
	.round-button {
		display: block;
		width: 35px;
		height: 35px;
		line-height: 35px;
		border-radius: 50%;
		color: #e4e4e4;
		text-align: center;
		text-decoration: none;
		background: #656565;
		box-shadow: 0 0 3px gray;
		font-size: 15px;
		font-weight: bold;
		margin: 10px 0 0 132px;
	}
}




.btn-group{
	.btn{
		border-radius: 5px !important;
	}
}


.nav-tabs{
	li[index-tab="0"]{

		margin-left:20px;

	}

	li{

		a{
			cursor: pointer;
			font-weight: bold;
			color: $branco;
			background-color: $header;
		}
		a:hover{
			background-color: $hover-cinza-escuro;
		}
	}

}



.round-button:hover {
    text-decoration: none;
    color: $branco;
}

@media screen and (min-width: $resolucao-tablet) {
	.trace-round-button{
		width: 290px;
		border-top: solid 1px $cinza-claro;
		display: inline-block;
		margin: 0 40px 0 40px;
	}
}

@media screen and (max-width: $resolucao-tablet) and (min-width: $resolucao-celular){
	.trace-round-button{
		width: 218px;
		border-top: solid 1px #e4e4e4;
		display: inline-block;
		margin: 0 40px 0 40px;
	}
}

.listagem-periodos{
	list-style: none;

	li{
		display: inline-block;
		margin: 10px;


		.box-periodo{
			@media screen and (min-width: $resolucao-tablet) {
				border: solid 1px #a7a7a7;
				border-radius: 5px;
				padding:20px;
				width: 370px;
				position: relative;
				font-size: 16px;
			}

			@media screen and (max-width: $resolucao-tablet) and (min-width: $resolucao-celular){
				border: solid 1px $cinza-claro;
				border-radius: 5px;
				padding:20px;
				width: 300px;
				position: relative;
				font-size: 15px;
			}

			h3{
				display: inline-block;
			}
		}


		.box-periodo:hover:before{
			background: rgba(0,0,0,0.8);
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color:$branco;
			z-index:1;
		}

		.box-periodo:hover{
			cursor: pointer;
		}

		.box-periodo:hover:after{
			content: "SELECIONAR";
			line-height: 14px;
			color: $branco;
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 14px;
			color:$branco;
			text-align: center;
			margin-top: -7px;
			z-index: 2;
		}
	}

}

.listagem-periodos-resumo{
  list-style: none;

  li{
    display: inline-block;
    margin: 10px;


    .box-periodo{
      @media screen and (min-width: $resolucao-tablet) {
        border: solid 1px #a7a7a7;
        border-radius: 5px;
        padding:20px;
        width: 370px;
        position: relative;
        font-size: 16px;
      }

      @media screen and (max-width: $resolucao-tablet) and (min-width: $resolucao-celular){
        border: solid 1px $cinza-claro;
        border-radius: 5px;
        padding:20px;
        width: 300px;
        position: relative;
        font-size: 15px;

      }

      h3{
        display: inline-block;
      }
    }
  }
}

#sidebarNav{
	list-style: none;
	padding: 0;

	.urlDiretiva{
		text-decoration: none;
		color: #FFF;
	}

	.titulo-menu{
		background-color:$header;
		font-weight: bold;
		color: $branco;
		padding: 10px 0 10px 10px;
		border-bottom: solid 1px $branco;
		cursor: pointer;

	}

	.titulo-menu-open{
		background-color:$cinza-claro;
		font-weight: bold;
		color: $preto;
		padding: 10px 0 10px 10px;
		border-bottom: solid 1px $branco;
		cursor: pointer;

	}

	.titulo-menu:hover{
		background-color:$cinza-claro;
		color:$preto;
	}

	.titulo-periodo{
		font-size: 12px;
		text-align: center;
		color: $branco;
		margin: 0;
		padding: 15px 0 5px 0;

	}

	.periodo-list{
		padding: 0 0 5px 0;
		list-style: none;
		background-color: $preto;

		li{
			height: 100px;
			border: solid 1px $branco;
			border-radius: 5px;
			margin:0 5px 5px 5px;

			.sort-position{
				width: 28px;
				height: 100px;
				color:$branco;
				display: inline-block;
				float: left;
				margin: 5px 0 0 10px;

				.index-position{
					display: block;
					font-size: 16px;
					font-weight: bold;
					top: 20px;
					position: relative;
					margin-left: 5px;
				}

				.fa-4{
					font-size: 40px;
					height: 0px;
					display: block !important;
					cursor: pointer;
				}
			}

			.periodo-info{
				display: inline-block;
				float: left;
				width: 180px;
				color: $branco;
				font-size: 12px;
				padding: 15px 0 0 15px;

				.btn-trash-periodo{
					padding:4px 10px !important;
					margin: 10px 0 0 5px;
				}

				.btn-search-periodo{
					padding:4px 10px !important;
					margin: 10px 0 0 10px;
				}
			}
		}
	}

  .compra-periodo-list{
    padding: 0 0 5px 0;
    list-style: none;
    background-color: $preto;


    li{
      border: solid 1px $branco;
      border-radius: 5px;
      margin:0 5px 5px 5px;

      .sort-position{
        padding-top:20px;
        color:$branco;
        min-height: 60px;

        .index-position{
          display: block;
          font-size: 16px;
          font-weight: bold;
          top: 20px;
          position: relative;
          margin-left: 5px;
        }

        .fa-4{
          font-size: 40px;
          height: 0px;
          display: block !important;
          cursor: pointer;
        }
      }

      .periodo-info{
        color: $branco;
        font-size: 12px;
        padding: 15px 0 0 15px;

        .btn-trash-periodo{
          padding:4px 10px !important;
          margin: 10px 0 0 5px;
        }

        .btn-search-periodo{
          padding:4px 10px !important;
          margin: 10px 0 0 10px;
        }
      }

      .btn-actions{
        padding:5px 10px;
      }
    }

  }
}



.pagination {
	.active{
		a{
			background-color: $header;
			border:solid 1px $header;
		}

		a:hover{
			background-color: $header;
			border:solid 1px $header;
			color: $cinza;
		}

		a:focus{
			background-color: $header;
			border:solid 1px $header;
			color: $cinza;
		}
	}

	li{
		a{
			display: inline-block;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			color: $cinza;
			margin: 0 10px 0 0;
		}
	}
	li:first-child{
		a{
			border-radius: 50%;
		}
	}
	li:last-child{
		a{
			border-radius: 50%;
		}
	}

	width: 320px;
	height: 50px;
	position: relative;
	display: block;
	margin: 0 auto;
}

.headerTable{
	th{
		a{
			color: $header;
			font-weight: normal;
		}
		a{
			text-decoration: none;
		}
	}

	background: #e4e4e4;
}

.numInscricaoLink{
	color:red;
}

.numInscricaoLink:hover{
	color:red;
}

.ballontip{
	color:#FFF;
	text-align:center;
	position: absolute;
	width: 100%;
	top: 10px;
	background-color: #595858;
	border-radius: 10px;
}

.ballontip-active{
	background-color: #000;
}

.ballontip-active-arrow{
	font-size: 30px;
	color: #000;
}

.ballontip-arrow{
	font-size: 30px;
	color: #595858;
}
