<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3 class="text-center" style="color:#c9242c">Dados Projeto</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button class="btn btn-spark pull-right" ng-disabled="btnDisabled" ng-click="novoDadosProjeto()">Novo Dado Projeto</button>
    </div>
  </div>

  <div class="row">

    <div style="margin-top:15px;">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <table class="table table-bordered" style="margin: 0 10px 0 0;">
          <thead>
            <tr class="headerTable">
              <th class="th-center"><a href="">STATUS</a></th>
              <th class="th-center"><a href="">DATA INICIO</a></th>
              <th class="th-center"><a href="">DATA TERMINO</a></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dp in dadosProjetoResolve" ng-mouseover="openPopover($index)">
              <td align="center">{{dp.status}}</td>
              <td align="center">{{dp.dataInicio}}</td>
              <td align="center">{{dp.dataTermino}}</td>
              <td align="center">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row" >
  <div class="col-sm-12 col-md-12 col-lg-12">
    <br clear="all">
    <hr>
    <button class="btn btn-spark" title="Voltar" ng-disabled="btnDisabled" ui-sref="web.projeto.listar" >
      Voltar
    </button>
  </div>
</div>
    </div>

  </div>