<div class="container menu">

  <form name="dadosProjetoForm">  
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="text-center" style="color:#c9242c">{{tipoForm}}</h3>
      </div>
    </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
        <label for="">Status</label>
            <select ng-model="dadosProjeto.status" ng-options="status.status as status.nome for status in allStatus" class="form-control" required></select>
         </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label for="">Data Inicio</label>
          <div class="input-group">
            <input class="form-control" ui-date ui-date-format="dd/mm/yy" ng-model="dadosProjeto.dataInicio" required>
              <span class="input-group-btn">
              <button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label for="">Data Termino</label>
          <div class="input-group">
            <input class="form-control" ui-date ui-date-format="dd/mm/yy" ng-model="dadosProjeto.dataTermino" required>
              <span class="input-group-btn">
              <button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>
   
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-spark" title="Voltar" ng-disabled="btnDisabled" ui-sref="web.projeto.listar" >
          Voltar
        </button>
        <button class="btn btn-spark pull-right" ng-disabled="btnDisabled || dadosProjetoForm.$invalid" ng-click="save()" ng-if="!saved">
          Salvar
        </button>
        <button class="btn btn-spark pull-right" ng-disabled="btnDisabled || dadosProjetoForm.$invalid" ng-click="update()" ng-if="saved">
          Atualizar
        </button>
      </div>
    </div>
  </form>
</div>