<ion-view title="Médico">
  <ion-content class="has-header padding">
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Nome">
        </label>
        <label class="item item-input">
            <input type="email" placeholder="E-mail">
        </label>
        <label class="item item-input">
            <input type="tel" placeholder="Telefone">
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Nascimento
            </div>
            <input type="date">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="CRM">
        </label>
    </div>

    <div class="padding">
        <a class="button button-block button-positive" href="#/tab/pesquisa">
            Entrar
        </a>
    </div>
  </ion-content>
</ion-view>


