<ion-view title="Médicos">
  <ion-content class="has-header padding">
    <div class="list list-inset">
        <div class="item item-divider">
            {{ medico.nome }}
        </div>
        <div class="item item-content">
            <p>CRM {{ medico.crm }}</h2>
            <p><b>{{ medico.especialidades.join(', ') }}</b></p>
            <p><a href="tel:{{ medico.telefone }}"><i class="icon ion-ios7-telephone"></i> {{ medico.telefone }}</b></a></p>
        </div>
    </div>
    <div class="list list-inset">
        <div class="item item-divider">
            {{ local.descricao }}
        </div>
        <div class="item item-content">
            <p>{{ local.endereco }}</h2>
            <p><a href="tel:{{ local.telefone }}"><i class="icon ion-ios7-telephone"></i> {{ local.telefone }}</b></a></p>
        </div>
    </div>
    <div class="list list-inset">
        <div class="item item-divider">
            Mapa
        </div>
        <div class="item mapa"></div>
    </div>
  </ion-content>
</ion-view>
