<div class="card">
    <div class="item item-divider">
        <p style="text-align: center;">
            O QUE FAZER
        </p>
    </div>
    <div class="item item-text-wrap">
        <p>
            Nestes casos, o primeiro passo é checar se a pessoa está respirando. 
            Se não estiver, deve-se iniciar um procedimento conhecido como 
            reanimação cardiopulmunar (RCP). Essa técnica é complexo e o ideal 
            seria aprendê-la através de um treinamento específico.
        </p>
        
        <p>
            Se ninguém souber e não houver tempo de chamar socorro, a respiração
            boca a boca é a mais simples: ventila-se duas vezes dentro da boca 
            da vítima, mantendo as narinas fechadas.
        </p>
    
        <p style="text-align: center;">
            <img src="img/afogamento-1.gif">
        </p>
        
        <p style="text-align: center;">
            <img src="img/afogamento-2.gif">
        </p>
        
        <p style="text-align: center;">
            <img src="img/afogamento-3.gif">
        </p>
        
        <p style="text-align: center;">
            <img src="img/afogamento-4.gif">
        </p>
    </div>
</div>
