<div class="card">
    <div class="item item-divider">
        <p style="text-align: center;">
            O QUE NÃO FAZER
        </p>
    </div>
    <div class="item item-text-wrap">
        <p style="text-align: center;">
            <img src="img/intoxicacao.gif">
        </p>
        
        <p>
            Dar leite para a criança, induzir ao vômito também é contraindicado.
        </p>
    </div>
</div>


<div class="card">
    <div class="item item-divider">
        <p style="text-align: center;">
            O QUE FAZER
        </p>
    </div>
    <div class="item item-text-wrap">
        <p>
            Leve a criança a um hospital, de preferência coma embalagem do 
            produto ingerido.
        </p>
    </div>
</div>
