<div class="container menu">

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3 class="text-center" style="color:#c9242c">{{tipoForm}}</h3>
    </div>
  </div>

  <form name="clienteForm" novalidate> 
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <label for="">Nome</label>
        <input class="form-control" ng-model="cliente.nome" type="text" required>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <label for="">E-mail</label>
        <input class="form-control" ng-model="cliente.email" type="email" required>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-spark pull-left" ui-sref="web.cliente.listar">
          Voltar
        </button>
        <button class="btn btn-spark pull-right" ng-disabled="btnDisabled || clienteForm.$invalid" ng-click="save()">
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>
