  <div ng-app>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3 class="text-center" style="color:#c9242c">CLIENTES</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button class="btn btn-spark pull-right" ng-disabled="btnDisabled" ng-click="novoCliente()">Novo cliente</button>
    </div>
  </div>

  <div class="row">

    <div style="margin-top:15px;">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <table class="table table-bordered" style="margin: 0 10px 0 0;">
          <thead>
            <tr class="headerTable">
              <th class="th-center"><a href="">NOME</a></th>
              <th class="th-center"><a href="">E-MAIL</a></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="cli in clientes" ng-mouseover="openPopover($index)">
              <td align="center">{{cli.nome}}</td>
              <td align="center">{{cli.email}}</td>
              <td align="center">
                <button class="btn btn-spark" alt="Alterar cliente" title="Alterar cliente" ng-disabled="btnDisabled" ng-click="alterarCliente(cli)">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button class="btn btn-spark" alt="Excluir cliente" title="Excluir cliente" ng-disabled="btnDisabled" ng-click="excluirCliente(cli)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button class="btn btn-spark pull-left" ui-sref="web.home">
        Voltar
      </button>
    </div>
  </div>
</div>